<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Full package" >
        <classes>
            <class name="com.abc.ButtonTest" />
            <class name="com.abc.CheckboxTest" />
            <class name="com.abc.DropdownTest" />
            <class name="com.abc.InputTest" />
            <class name="com.abc.LoginTest" />
            <class name="com.abc.UploadDownloadFileTest" />
        </classes>
    </test>
</suite>